body{
    background-color:lightgoldenrodyellow;
    /* width: 960px; */
	margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family: 'Noto Sans', sans-serif;

}
header{
    padding:0;
    text-align:center;
    margin:0px 0px 0px 0px; /*上右下左*/
}

.title{
    font-size:64px;
    margin:0px 0px 0px 0px; /*上右下左*/
}

.menuBar{
    display:flex;
	justify-content:center;
	align-items:center;
}
.menuBar select{
    margin:0px 20px 0px 10px; /*上右下左*/
}

.searchResult{
	display:flex;
	justify-content:center;
	align-items:center;
}
.searchResult table{
    text-align:center;
    margin:40px 0px 40px 0px; /*上右下左*/
}
.searchResult td{
    width:150px;
    height:100px;
    background-color:lightblue;
    background-image:url('../img/syokki_osara.png');
    background-size: cover;

}
.searchResult td a{
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
    /* display: table-cell; */
    /* vertical-align: middle; */
}

/* footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.profile{
    text-align:center;
}