/**
/* 全体
 */
body{
    background-color:azure;
    background-image:url('../img/aozora30_mini.png');
    background-size: cover;
	margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family: 'Noto Sans', sans-serif;
}

a{
    text-decoration:none;
}
a:link, a:visited {
    color: blue;
}
a:hover {
    color: red;
}

a:active {
    color: green;
}

/**
/* タイトル周辺
 */
header{
    text-align:center;
    font-family: 'Noto Sans', sans-serif;
    margin:0px 0px 0px 0px; /*上右下左*/
}

.titleLogo{
    width:100%;
    max-width:600px;
    height:auto;
    margin:0px 0px 0px 0px; /*上右下左*/
}

.subTitle{
    margin:0px 0px 0px 0px; /*上右下左*/
}

/**
/* メニューバー 
 */
.menuBox{
    display:flex;
    flex-wrap: wrap;           /* 回り込み */
    justify-content:center;
    align-items:center;
    font-size:16px;
    margin:10px 0px 10px 0px; /*上右下左*/
}
.menuBox p{
    font-size:24px;
    margin:0px 5px 0px 10px; /*上右下左*/
}
.menuBox select{
    font-size:16px;
    margin:0px 5px 0px 10px; /*上右下左*/
}
.menuForm{
    font-size:16px;
    border:0px;
    border-radius: 0.3em;
    background-color:aliceblue;
    text-align:center;
    height:24px;
}

.reLoad{
    background-color: transparent;
    border:0px;
    font-size:20px;
    margin:0px 10px 0px 10px; /*上右下左*/
}

/**
/* 検索結果表示領域
 */
.searchResultBox{
    display:flex;                    /* flexbox化*/
    flex-direction:row;              /* 並ぶ方向 */
    flex-wrap: wrap;                 /* 回り込み */
	justify-content:space-evenly;    /* 配置スペース*/
	align-items:center;
}

.searchResultBox div{
    width:100px;
    height:100px;
    background-image:url('../img/sara_kirinuki_mini.png');
    background-size: contain;
}

.searchResultBox a{
    display:flex;               /* blockからflexに変更 */
    width:100%;
    height:100%;
    justify-content:center;     /* 追加 */
    align-items:center;         /* 追加 */
}

/**
/* 履歴表示、お気に入り、about meの塊
 */
.actionResultBox{
    display:flex;                 /* フレックスボックス化*/
    flex-direction:row;           /* 並ぶ方向 */
    flex-wrap: wrap;              /* 回り込み */
	justify-content:space-around; /* 配置スペース*/
	align-items:stretch;
}
/**
/* 履歴/お気に入り 表示領域
 */
.hisBox, .favBox,.autherBox{                       
    display:flex;                  /* フレックスボックス化*/
    flex-direction:column;         /* 並ぶ方向 */
	justify-content:start;  /* 配置スペース*/  
    align-items:center;               
    text-align:left;               /* ボックスの中身の配置 */  
    width:350px; 
    margin:0px 10px 0px 10px; /*上右下左*/
}
.autherBox{                       
    display:flex;                  /* フレックスボックス化*/
    flex-direction:column;         /* 並ぶ方向 */
	justify-content:start;  /* 配置スペース*/  
    align-items:center;               
    text-align:center;             /* ボックスの中身の配置 */  
    width:350px; 
    margin:0px 10px 0px 10px; /*上右下左*/
}
.hisLink, .favLink, .autherLink{
    width:300px;
    height:30px; 
}
.deleteOne, .favoliteOne, .delHis, .delFav, .delAll{
    background-color: transparent;
    border:0px;
    font-size:30px;
}
footer {
	margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family: 'Noto Sans', sans-serif;
}
